<div><%= data.placesCount %> 개의 장소가 있습니다.</div>

<% if (data) { %> <% for(var i = 0; i < data.placesCount ; i++){ %>
<div><a href="/place/<%= data.places[i]._id %>">상세보기</a></div>
<div><%= data.places[i].name %></div>
<div><%= data.places[i].location %></div>
<div><%= data.places[i].isClosed %></div>
<div><%= data.places[i].dayOff %></div>
<div><%= data.places[i].openTime %></div>
<div><%= data.places[i].closeTime %></div>
<% } %> <% }else{ %>
<div>aa</div>
<% } %>
