<!DOCTYPE html>
<head>
  <%- include ('./head') %>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="/public/js/report.js" type="text/javascript"></script>
</head>
<body>
  <main id="container">
    <div id="placeInfoMoment">
      <div id="placeId" class="text-white"><%= data._id %></div>
      <div>장소: <%= data.name %></div>
      <div>위치: <%= data.location %></div>
      <% if (data.description != null) { %>
      <div>설명: <%= data.description %></div>
      <% } %> <% if (data.isClosed) { %>
      <div>현재 휴무 중</div>
      <% } %>
      <br />
      <span>휴무일: </span>
      <% if (data.dayOff.includes(0)) { %>
      <span>월요일</span>
      <% } %> <% if (data.dayOff.includes(1)) { %>
      <span>화요일</span>
      <% } %> <% if (data.dayOff.includes(2)) { %>
      <span>수요일</span>
      <% } %> <% if (data.dayOff.includes(3)) { %>
      <span>목요일</span>
      <% } %> <% if (data.dayOff.includes(4)) { %>
      <span>금요일</span>
      <% } %> <% if (data.dayOff.includes(5)) { %>
      <span>토요일</span>
      <% } %> <% if (data.dayOff.includes(6)) { %>
      <span>일요일</span>
      <% } %> <% if (data.dayOff.includes(7)) { %>
      <span>휴일</span>
      <% } %>

      <div>운영시간</div>
      <% for(var j = 0; j < data.openTime.length ; j++){ %>
      <div>&nbsp;&nbsp; <%= data.openTime[j] %> ~ <%= data.closeTime[j] %></div>
      <% } %>
    </div>
    <br />
    <div id="wantToReportMoment">
      <button id="buttonReport" class="btn yellow darken-2">장소 관련 제보하기</button>
    </div>

    <!--report post page.-->
    <div id="reportPostMoment">
      <form name="form-data">
        <div class="row marginForWelcome">
          <div class="input-field col s6 marginForWelcome">
            <label for="content">content</label>
            <input type="text" id="content" required="required" />
          </div>
        </div>

        <button type="submit" id="reported" class="btn yellow darken-2 floatRight">제보하기</button>
      </form>
      <button id="back" class="btn yellow darken-2 floatRight">취소하기</button>
    </div>
  </main>
</body>
