<div><%= data.category %></div>
<div><%= data.name %></div>
<div><%= data.location %></div>
<div><%= data.isClosed %></div>
<div><%= data.dayOff %></div>
<div><%= data.openTime %></div>
<div><%= data.closeTime %></div>
